div.mainbox {
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: black;
    align-items: center;
    justify-content: center;
    margin: 0px 415px;
    font-size: 73px;
    padding-top: 35px;
    font-family: 'Bebas Neue', cursive;
}

#navbar #logo {
    margin: 5px;
    padding: 6px;
}

hr#line {
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1.5px solid black;
}

hr.footerline {
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
}

/* NAVIGATION BAR: LIST AND STYLING  */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Domine', serif;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 12px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* HEADER SECTION  */
#header {
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#header h3 {
    color: white;
    text-align: center;
    /* font-family: 'Domine', serif; */
    font-family: 'Bebas Neue', cursive;
}

#header p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: 'Domine', serif;
    /* font-family: 'Roboto', sans-serif; */
}

.centerbutton {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.button {
    text-align: center;
}

.btn {
    font-family: 'Domine', serif;
    padding: 5px 15px;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    color: white;
    margin: 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/* SERVICES */
#services-container {
    background-color: white;
    height: 100%;
    width: 100%;
}

#services {
    display: flex;
    margin: 5px;
    justify-content: center;
    text-align: center;

}

#services .box p {
    font-family: 'Domine', serif;
}

.h-primary {
    font-family: 'Domine', serif;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 12px;
    justify-content: center;
    text-align: center;
    margin: 10px 10px;
}

.h-secondary {
    /* color: #ffff00e7; */
    font-family: 'Domine', serif;
    font-size: 1.5rem;
    padding: 12px;
    justify-content: center;
    text-align: center;
}

/* FOOTER  */
footer {
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 15px 15px;
    margin: -8px;
}

#footer p {
    text-align: center;
}

center {
    font-family: 'Domine', serif;
}

center h2 {
    font-family: 'Domine', serif;
    font-size: 1.8rem;
    padding: 12px;
    justify-content: center;
    text-align: center;
}

center h1 {
    font-family: 'Domine', serif;
    font-size: 1rem;
    padding: 12px;
    justify-content: center;
    text-align: center;
}

.map-responsive {
    overflow: hidden;
    padding-top: 10%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.destinations {
    font-size: 1em;
    font-family: 'Domine', serif;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}